$color-primary: rgb(42, 42, 42);
$color-primary-light: rgb(89, 89, 89);
$color-primary-dark: rgb(13, 13, 13);
$color-background: rgb(239, 240, 243);
$color-background-light: rgb(255, 255, 254);

$color-accent-100: rgb(251, 136, 23);
$color-accent-200: rgb(255, 75, 1);
$color-accent-300: rgb(193, 33, 39);
$color-accent-400: rgb(224, 42, 255);
