@use './variables' as *;
@use './colors' as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin border-gradient {
  border-color: $color-accent-200;
  -o-border-image: linear-gradient(139deg, $color-accent-100, $color-accent-200, $color-accent-300, $color-accent-400) 3;
  border-image: linear-gradient(139deg, $color-accent-100, $color-accent-200, $color-accent-300, $color-accent-400) 3;
}
