@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  border-top-width: 10px;
  border-top-style: solid;
  @include border-gradient;
  
  &__title {
    margin: 1rem 1.5rem;
    text-align: right;
  }

  &__bottom {
    border-bottom: 1px solid $color-background;
  }
}
