@use "../../styles/partials/colors" as *;

.items-list {
  background-color: $color-background-light;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &__item {
    padding: .3em 1.5em;
  }
}
