@use "../../styles/partials/colors" as *;
@use '../../styles/partials/variables' as *;

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &__form {
    flex-basis: 800px;
    display: flex;
  }

  &__input {
    font-family: $font-input;
    letter-spacing: 1px;
    width: 100%;
    padding: 1.2em 3.1em;
    border-radius: 0;
    border: 1px solid $color-background;
    background-color: $color-background;
    background-image: url(../../assets/icons/search-line.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: 12px 45%;
    outline: none;

    &::placeholder {
      color: #939693;
    }

    &:focus,
    &:active {
      border: 1px solid $color-primary-dark;
    }
  }

  &__button {
    font-size: .9rem;
    font-weight: 600;
    color: $color-background-light;
    background-color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    border: none;
    padding: 1em 2em;
  }
}
